@font-face {
    font-family: 'bridgeiconsregular';
    src: url('/fonts/font4799-webfont.eot');
    src: url('/fonts/font4799-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/font4799-webfont.woff') format('woff'),
         // url('/fonts/font4799-webfont.ttf') format('truetype'),
         url('/fonts/font4799-webfont.svg#bridgeiconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// TODO chrome hack
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
	    font-family: 'bridgeiconsregular';
		src: url('/fonts/font4799-webfont.svg#bridgeiconsregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}
}


.info-number {
	display: inline-block;
	// width: 3em;
	text-align: left;
	position: relative;
	font-weight: bold;
	padding-left: 2.2em;
	padding-right: 0.2em;
}

master-icon {
	font-size: 2.05em;
	display: inline-block;
	position: absolute;
	margin-top: -8px;
	left: 0;
	font-weight: normal;

	& > div {
		text-rendering:geometricPrecision;
		font-family: 'bridgeiconsregular';
		position: relative;
		display: inline-block;
		// line-height:0;
		// font-size:2em;
		// top:0.4em;
		// top:-2px;

		.type {
			color:black;
			position:absolute;
			top:0;
		}

		&:before {
			content:" ";
			position:absolute;
			z-index:1;
		}
	}

	.incident {
		color:orange;

		&:before {
			content:"i";
			color:red;
		}
	}

	.resource {
		color:green;

		&.health-personnel, &.health-vehicle {
			color:rgb(146,208,80);
		}

		&.fire-and-rescue-personnel, &.fire-and-rescue-vehicle {
			color:red;
		}

		&.police-personnel, &.police-vehicle {
			color:rgb(0,201,255);
		}

		.type {
			color:white;
		}

		&.red-cross .type {
			color:red;
		}

		&:before {
			content:"r";
			color:white;
		}
	}
}

