@import "compass";
@import "icons.scss";
@import "bootstrap-sass/lib/_variables";

#map {
	// position:relative;
		height:100%;

	background:lighten(#000, 33.5%);


	.map {
		height:100%;
	}
}

body:not(.disable-markers-animations) #map {
    .leaflet-marker-icon, .leaflet-marker-shadow {
        -webkit-transition:transform 0.5s linear;
        transition:transform 0.5s linear;
        -moz-transition:transform 0.5s linear;
    }
}


.leaflet-container {
	.shadow-layer {
		width:100%;
		height:100%;
		position: absolute;
		z-index:50;
		$reticle: url(../images/reticle.png) no-repeat center;
background: -moz-radial-gradient(center, circle cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 19%, rgba(0,0,0,0.3) 70%, rgba(0,0,0,0.92) 100%),$reticle; /* FF3.6+ */
background: -webkit-radial-gradient(center, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.92) 100%),$reticle; /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.92) 100%),$reticle; /* Opera 12+ */
background: -ms-radial-gradient(center, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.92) 100%),$reticle; /* IE10+ */
background: radial-gradient(circle at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 19%,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0.92) 100%),$reticle; /* W3C */

		h1 {
		    font-size: 56px;
		    text-shadow:0px 0px 3px rgba(0,0,0,0.5);
		    margin-left: 28px;
	-webkit-user-select: none;
	   -moz-user-select: none;
	        user-select: none;
		}
	}
}
.map-buttons {
position: absolute;
z-index:51;
left: 50%;
top: 50%;
margin-top:1.65em;
margin-left:1.65em;
	button {
		display:block;
		min-width:6em;
		margin-bottom:0.4em;
	}
}

#compass {
	border:2px solid white;
	height:200px;
	width:200px;
	margin:auto;
	border-bottom:10px solid white;
}

#wrapper {
        position:absolute;
        z-index: 1;
        top:0;
        left:0;
        bottom:0;
        right: 0;
        overflow: hidden;
        -ms-touch-action: none;
}

#scroller {
        position:absolute;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        // -webkit-transform: translateZ(0);
        // -moz-transform: translateZ(0);
        // -ms-transform: translateZ(0);
        // -o-transform: translateZ(0);
        // transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;

        .canard_panel {
	        position:absolute;
        }
}

#top-menu {
	height:170px;
	// padding-top:12px;
    // background:blue;
    // border-bottom:1px solid #cdcdcd;
    // margin-top:-1px;
    // padding-top:10px;
    // padding-bottom:10px;
    color:black;

    .row {
    	margin-left: 0;
		margin-right: 0;
    }

    .layerOption {
    	// height:110px;
    	height:50px;
    	margin:0;
    	// display:inline-block;
    	// text-align: center;

    	.has-switch {
    		border-color:transparent;
    		margin-left:1em;

    		// &.switch-large {
    		// 	min-width:100px;
    		// }

    		span.switch-left {
    			background:#16a085;
    			text-shadow: none;
    		}

    		label.switch-large {
    			background:white;
    			border:none;
    		border-color:transparent;
    		}

    		span.switch-right {
    			background:#95a5a6;
    			text-shadow:none;
    			color:white;
    		}
    	}
    }

    button {
    	// width:172px;
    	background-size: cover;
    	margin-bottom:10px;
    	height:110px;
    	border:0;

    	&:hover {
    		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    	}
    }

    button, .layerOption {
    	margin-left:10px;
    }

    h3 {
    	color:#333;
    	margin:10px;

    }

    .content {
    	padding-bottom:10px;
    }

}


@media (orientation:landscape) {
    html.ipad.ios7 > body #wrapper {
/* position: fixed;
bottom: 0;
width:100%;
height: 672px !important;
*/
/*border-bottom:40px solid green;*/
margin-bottom:20px;
    }
}

#main {
	.infos {
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
		position:absolute;
		top:-2px;
		left:50%;
		z-index:1;
		margin:0 auto;
		height:53px;
		padding-top:12px;
        font-size:2.1rem;
		padding-left:5px;
		background:#eeeeee;//rgba(255,255,255,0.93);
		background:rgba(238,238,238,0.93);
		// border:1px solid #cdcdcd;
		// border-top:2px solid #eeeeee;

		color:black;
		$infosWidth:40em;
		min-width:$infosWidth;
		margin-left:-$infosWidth/2;

		// border-bottom-left-radius: 6px;
		// border-bottom-right-radius: 6px;

	}


}


@media (max-width: $screen-md-min) {
    #main {
        .infos {
            left:0;
            right:0;
            margin-left:0;
        }
    }
}
