<style type="text/css" media="screen">
.canard  {
	/*overflow-x:auto;*/
	width:auto;
	/*height:400px;*/
	white-space:nowrap;
	color:white;
}
.inline-table {
	/*max-width:768px;*/
	display:inline-block;
	vertical-align: top;
	margin-left:1.5em;
	margin-right:1.5em;
}
.inline-table table {
	min-width:600px;
}

#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
#wrapper {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 1;
	width: 100%;
	margin-top:1em;
	/*height:200px;*/
	/*background: #ccc;*/
	overflow: hidden;
	-ms-touch-action: none;
}



</style>
<div id="wrapper">
<div class="canard" id="scroller">
<div class="inline-table">
<table class="table table-striped" >
	<thead>
		<tr>
			<th>Patient</th>
			<th>Name</th>
			<th>Sex</th>
			<th>Age</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="patient in patients">
			<th>{{patient.ID}}</th>
			<td>{{patient.Name}}</td>
			<td>{{patient.Sex}}</td>
			<td>{{patient.Age.Value}}</td>
			<td>{{patient.Location.lat}} - {{patient.Location.lng}}</td>
		</tr>
	</tbody>
</table>
</div>

<div class="inline-table">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Resource</th>
			<th>Type</th>
			<th>Name</th>
			<th>Assignment</th>
			<th>Status</th>
			<th>Location</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="resource in resources">
			<th>{{resource.ID}}</th>
			<td>{{resource.type}}</td>
			<td>{{resource.Name}}</td>
			<td>{{resource.Assignment}}</td>
			<td>{{resource.Status}}</td>
			<td>{{resource.Location.lat}} - {{resource.Location.lng}}</td>
		</tr>
	</tbody>
</table>
</div>

<div class="inline-table">
<table class="table table-striped">
	<thead>
		<tr>
			<th>Police</th>
			<th>ID</th>
			<th>Type</th>
			<th>Status</th>
			<th>District</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ABC</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>DEF</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>GHI</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>KLM</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>NOP</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>QRS</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>TUV</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
		<tr>
			<th>WYZ</th>
			<td>nsrt-auie-878b-5645</td>
			<td>Policeman</td>
			<td>Waiting</td>
			<td>*</td>
		</tr>
	</tbody>
</table>
</div>
</div>
<script>

console.log("canard", $("#scroller"));
// myScroll = new IScroll('#wrapper', { eventPassthrough: true, scrollX: true, scrollY: true});

// $("#wrapper").height($("#scroller").height())
// $(window).resize(function() {
	// $("#wrapper").height($("#scroller").height())
// });
</script>